<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the TECH blog</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="head-container">
            <h1 class="right">
                <a href="/">Dani codes</a><img src="img/pixels4.png" height="30" width="30" border="0" />
            </h1>


            <nav>
                <a href="/about">About</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact</a>
                <a href="/resume">Resume</a>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h3>Welcome</h3>

            <p>Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah
                blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah
                blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah
                blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah
                blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah blah
                blah blah blah Blah blah blah blah blah Blah blah blah blah blah Blah
                blah blah blah blah Blah blah blah blah blah Blah blah blah blah blah
            </p>
        </section>



    </main>
    <footer>
        Thank you for visiting!
        <br>
        <span class="copyends">© webprinc3ss</span>
    </footer>


</body>

</html>